body{
    background-image: url(pic1.jpg);
    -webkit-backgroun-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif
    font-weight: 600;
    font-size: 16px;

}
a{
    text-decoration: none;
}    
header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}
.logo{
    cursor: pointer;
}
.nav-area{
    list-style: none;
}
.nav-area li{
    display: inline-block;
    padding: 0 45px;
    text-transform: uppercase;
    
}
.nav-area li a{
    transition: .3s;
    color: #fff;
}
.nav-area li a:hover{
    color: #d22938;
}
.btn-area{
    transition: .3s;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #d22938;
}
h3{
    color: #d22938;
    text-align: center;
    display: inline-block;
    padding: 50px;
    margin-top: 15px;
}
.audio controls{
    padding: 50px;

}