@font-face {
    font-family: BFlat-Earth-Scribe-Regular;
    src: url(Flat-Earth-Scribe-Regular.ttf);
}
body,ul,li,h2,p{
    direction: rtl;
    font-family: Flat-Earth-Scribe-Regular;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    margin: auto;
}
header{
    background-image: url('pic1.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}
header nav{
    width: 100%;
    background-color:rgba(0, 0, 0,.4);
    height: 70px;
}
header nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}
header nav ul li{
    margin-left: 25px;
    line-height: 4;
    border-left: 1px solid rgb(241, 234, 234);
    padding-left: 15px;
    
}
header nav ul li:nth-child(5){
    border: none;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0,.2);
    padding: 10px 15px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
header nav ul li a:hover{
    background-color: rgb(77, 78, 74);
}
header .header-content{
    position: absolute;
    top: 14%;
    left: 0%;
    text-align: center;
    text-decoration: none;
    padding: 150px 900px;
    transition: all .9s ease-in-out;
    

}
header .header-content:hover{
    background-color: rgba(0, 0, 0,.9);
}
header .header-content h2{
    font-size: 50px;
    color: white;

}
header .header-content p{
    font-size: 45px;
    margin-top: 20px;
    color: white;
}

/* service */
 #service {
     width: 100%;
     background-color: gray;
     padding: 100px 0;

 }
 #service .service-title{
     width: 100%;
     text-align: center;
     padding-bottom: 50px;
 }
 #service .service-title h2{
     font-size: 50px;
     margin-bottom: 30px;

 }
 #service .service-title p{
     font-size: 30px;
     margin-top: 20px;
     width: 900px;
     margin: auto;

 }
 #service .service-content{
     width: 100%;
     display: flex;
     justify-content: space-between;
     
     
     
 }
 #service .service-content .service-content-item{
     width: calc(33.33% + 270px);
     margin-top: 30px;
     text-align: center;
 }
 #service .service-content .service-content-item i{
     text-decoration: none;
     font-size: 60px;
     border-radius: 10px;
     padding: 10px 10px;
     transition: all .4s ease-in-out;
     
 }
 #service .service-content .service-content-item i:hover{
    background-color: rgb(209, 207, 204);

 }
 #service .service-content .service-content-item h2{
     font-weight: 600;
     font-size: 25px;
     margin-top: 30px;
     color: rgb(43, 40, 36);
    
 }
 #service .service-content .service-content-item p{
     margin-top: 20px;
     margin-bottom: 30px;
     color: rgb(31, 32, 28);

 }
 #service .service-content .service-content-item a{
     text-decoration: none;
     color: #fff;
     padding: 15px 20px;
     border-radius: 30px;
     transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     -webkit-transition: all .3s ease-in-out;
 }
 #service .service-content .service-content-item a:hover{
    background-color: rgb(77, 78, 74);

 }
 /*blog*/
 #blog{
     width: 100%;
     padding: 100px 0;

 }
 #blog .title{
     text-align: center;

 }
 #blog .title h2{
     font-size: 35px;

 }
 #blog .blog{
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     margin: 70px 70px;
     
 }
 #blog .blog .blog-item{
     width: 35% ;
     text-align: center;
     margin-left: 160px;
     text-decoration: none;
     border-radius: 60px;
     transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     -webkit-transition: all .3s ease-in-out;
     
 }
 #blog .blog .blog-item a:hover{
     background-color: rgb(223, 223, 223);
 }
    

